.custom-amount {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #d1fae5;
  padding: 10px 14px;
  border-radius: 12px;
  background: #ecfdf5;
}

.custom-amount span {
  font-size: 18px;
  font-weight: 600;
  color: #065f46;
}

.custom-amount input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 100%;
}
